@font-face {
    font-family: "oswald";
   src: url("../fonts/Oswald-Regular.ttf");
}

@font-face {
    font-family: "oswald-light";
    src: url("../fonts/Oswald-Light.ttf");
}

@font-face {
    font-family: "oswald-bold";
    src: url("../fonts/Oswald-Bold.ttf");
}

@font-face {
    font-family: "worksans";
    src: url("../fonts/WorkSans-Regular.ttf");
}